<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Default">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>

        <testsuite name="Creational">
            <directory suffix="Test.php">./tests/Creational</directory>
        </testsuite>

        <testsuite name="Structural">
            <directory suffix="Test.php">./tests/Structural</directory>
        </testsuite>

        <testsuite name="Behaviour">
            <directory suffix="Test.php">./tests/Behaviour</directory>
        </testsuite>
    </testsuites>
</phpunit>
